<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Y3EP By Sina</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    

</head>

<body ng-app="myApp" ng-controller="myCtrl" class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="assets/film.svg" width="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#addmovies" href="#">Add Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#deletemovies" href="#">Delete Movies</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#rawjson" href="#">Show Raw JSON</a>
            </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" ng-model="search" placeholder="Search Movies " aria-label="Search">
      </form>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-3" >
        <div class="col-12" >
            <div class="my-3 p-3 bg-white rounded shadow-sm" >
                <h6 class="border-bottom border-gray pb-2 mb-0">JSON Results</h6>
               
                    <div class="media text-muted pt-3  ">
                        <textarea class="form-control " rows="20" >{{jsonresults}}</textarea>
                </div>
               
              </div>
        </div>
      </div> -->
      <div class="col-12">
        

          <div class="my-3 p-3 bg-white rounded shadow-sm">
              <h6 class="border-bottom border-gray pb-2 mb-3">Dashboard</h6>
              <div class="row d-flex justify-content-around mb-4">
                <!-- <div class="col-3">
                    <div  class="card">
                        <img  src="https://images.pexels.com/photos/6633/car-superhero-symbol-batman.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{record.Title}}</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div> -->
                <div class="col-12 table-responsive-sm">
                <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th ng-click="orderByMe('Title')" scope="col">Title</th>
                        <th  scope="col">Sales Worldwide</th>
                        <th scope="col">Budget</th>
                        <th ng-click="orderByMe('IMDB_Rating')" scope="col">IMDB Rating</th>
                        <th scope="col">Release Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-modal ng-repeat="record in records | filter:search | orderBy:myOrderBy">
                        <td>{{record.Title}}</td>
                        <td>{{record.Worldwide_Gross | currency}}</td>
                        <td>{{record.Production_Budget | currency}}</td>
                        <td><span class="badge badge-dark">{{record.IMDB_Rating}}</span></td>
                        <td>{{record.Release_Date}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        
      </div>
     
    </div>
  </div>

  <!-- Modal Add Movies -->
<div class="modal fade" id="addmovies" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add Movies</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input class="form-control mr-sm-2 mb-3" type="text" placeholder="Title" aria-label="Title">
                 
            <input class="form-control mr-sm-2 mb-3" type="text" placeholder="Sales Worldwide" aria-label="Title">
           
            <input class="form-control mr-sm-2 mb-3" type="text" placeholder="Budget" aria-label="Title">
            
            <input class="form-control mr-sm-2 mb-3" type="text" placeholder="IMDB Rating" aria-label="Title">

            <input class="form-control mr-sm-2 mb-3" type="text" placeholder="Release Date" aria-label="Title">
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal Delete Movies -->
<div class="modal fade" id="deletemovies" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add Movies</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input class="form-control mr-sm-2 mb-3" type="text" placeholder="Movie name" aria-label="Title">
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

     <!-- Modal Delete Movies -->
<div class="modal fade" id="rawjson" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Raw JSON</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-wrap">
            <code>{{jsonresults}}</code>
      
        </div>

      </div>
    </div>
  </div>
  



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="/scripts/script.js"></script>
</body>

</html>